{% macro todo_list_item(todo, oob=False) %}
    <div id="todolist_item_{{ todo.id }}"
         class="todo-list-item{% if kwargs['selected'] == True %} selected{% endif %}"
         {% if oob %} hx-swap-oob="innerHTML" {% endif %}
         data-id="todo_{{ todo.id }}"
         data-component="todo-list-item">
        <div class="todo-list-item-name"
             hx-get="/todolist/item/{{ todo.id }}"
             hx-trigger="click"
             hx-swap="none"
             hx-push-url="true"
             _="on click remove .selected from .selected add .selected to closest .todo-list-item">{{ todo.name }}</div>
        <div class="todo-list-item-status">{{ todo.status() }}</div>
        <button class="todo-list-item-edit"
             hx-get="/todolist/item/{{ todo.id }}/edit"
             hx-trigger="click"
             hx-swap="outerHTML"
             hx-target="#todolist_item_{{ todo.id }}">
            Edit
        </button>
    </div>
{% endmacro %}

{% if render_self %}
    {{ todo_list_item(todo, oob) }}
{% endif %}