<form id="todolist_item_{{ todo.id }}_edit"
      class="todo-list-item"
      data-id="todo_{{ todo.id }}"
      data-tmpl="{{ tmpl_name(self) }}"
      data-return-tmpl="{{ tmpl_name('list/item.html.j2') }}"
      {% if oob %} hx-swap-oob="innerHTML" {% endif %}
      hx-patch="/todos/{{ todo.id }}"
      hx-swap="outerHTML">
    <input type="text" name="name" value="{{ todo.name }}" autofocus="autofocus"/>
    <input type="submit" value="Update"/>
    <input type="button"
           value="Never mind"
           hx-get="/list/item/{{ todo.id }}/close_edit"
           hx-swap="outerHTML"
           hx-target="#todolist_item_{{ todo.id }}_edit"/>
</form>
