<form id="new-todo" hx-post="/list/item" hx-swap="outerHTML">
    <input type="text" name="name" autofocus="autofocus"/>
    <input type="submit" value="Create"/>
    <input type="button" value="Never mind"
           hx-get="/list/item/close_new" hx-swap="outerHTML" hx-target="#new-todo" />
</form>
